.footer {
    background-color: #4e54c8;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: -10px;
    font-family: 'Lato', sans-serif;
  }
 