.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4e54c8;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: beige;
  font-family: 'Lato', sans-serif;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-icon {
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.profile-icon:hover {
  color: beige;
}
