.profile-modal {
    position: absolute;
    top: 50px; 
    right: 45.4px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  button {
    background-color: #4e54c8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4e54c8ad;
  }
  