.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure modal is on top of other content */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* Drop shadow for depth */
    width: 300px; /* Adjust width as needed */
    font-family: 'Lato', sans-serif;
    align-items: center;
  }
  
  .modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4e54c8;
  }
  
  .modal-content input[type="email"],
  .modal-content input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #4e54c8;
    border-radius: 4px;
  }
  
  .modal-content button {
    background-color: #4e54c8;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .modal-content button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .modal-content p {
    font-size: 0.875rem;
  }
  
  .modal-content p span {
    color: #4e54c8;
    cursor: pointer;
  }
  